# Framework
Django==5.2.8
asgiref==3.11.0

# Autenticacion social
django-allauth[socialaccount]==65.3.0

# MercadoPago
mercadopago==2.2.3

# Produccion
gunicorn==23.0.0
whitenoise==6.8.2
psycopg2-binary==2.9.10
dj-database-url==2.3.0

# Utilidades Django
django-extensions==4.1
Pillow==12.0.0
sqlparse==0.5.3
requests==2.32.3

# Data / analisis
pandas==2.2.3
openpyxl==3.1.5
numpy==2.2.6

# Tests
pytest==9.0.1
pytest-django==4.11.1
pytest-cov==6.1.0

# Dependencias transitivas
colorama==0.4.6
et_xmlfile==2.0.0
geographiclib==2.0
geopy==2.4.1
iniconfig==2.3.0
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
