{% extends 'base.html' %}

{% block title %}
Cargar saldo
{% endblock %}

{% block content %}

<section class="card">

    <h1>💳 Cargar saldo</h1>

    <form method="post">

        {% csrf_token %}

        <div class="form-group">

            <label for="monto">
                Monto
            </label>

            <input
                type="number"
                id="monto"
                name="monto"
                min="1"
                required
            >

        </div>

        <button type="submit" class="btn">
            Cargar saldo
        </button>

    </form>

</section>

{% endblock %}