<!-- templates/usuarios/inicio_usuarios.html -->
{% extends "base.html" %} 
{% block title %}Inicio — Usuario{% endblock %}

{% block content %}
<section class="panel">
  <h1>Bienvenido, {{ usuario.nombre }}</h1>
  <h4>Saldo actual: ${{ usuario.saldo }} </h4>

  {% if estacionamiento_activo %}
    <div class="card">
      <h3>Estacionamiento activo</h3>

      <p>Patente: {{ estacionamiento_activo.vehiculo.patente }}</p>
      <p>Zona: {{ estacionamiento_activo.subcuadra }}</p>
      <p>Inicio: {{ estacionamiento_activo.hora_inicio }}</p>

      <a class="btn" href="{% url 'usuarios_finalizar_estacionamiento' estacionamiento_activo.id %}">
        Finalizar
      </a>
    </div>
  {% else %}
    <p>No tenés estacionamientos activos.</p>
  {% endif %}

  <a class="btn" href="{% url 'usuarios_estacionar_vehiculo' %}">
    Estacionar vehículo
  </a>

</section>
{% endblock %}
