{% extends "base.html" %}
{% block title %}Estacionamiento — Ingresar{% endblock %}

{% block content %}
<section class="panel auth-panel">
  <h2>Iniciar sesión</h2>
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <a href="/accounts/google/login/" class="btn btn-google">
    Ingresar con Google
  </a>
  <hr style="margin: 1rem 0;">

  <label>Correo</label>
  <input type="email" name="correo" required>

  <label>Contraseña</label>
  <input type="password" name="password" required>

  <button type="submit" class="btn" style="width:100%;">Entrar</button>

  {% if form.errors %}
    <p class="error">Correo o contraseña incorrectos</p>
  {% endif %}
</form>
</section>
{% endblock %}
