{% extends "base.html" %} {% block title %}Registro{% endblock %} {% block
content %}
<section class="container">
  <div class="panel">
    <h2>Crear cuenta</h2>
    <div class="panel-body">
      <form method="post">
        {% csrf_token %} {{ form.as_p }} {% if municipios|length > 1 %}
        <div class="form-row">
          <label for="municipio_id">Municipio</label>
          <select id="municipio_id" name="municipio_id">
            {% for m in municipios %}
            <option value="{{ m.id }}">{{ m.nombre }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
        <button class="btn">Registrarse</button>
      </form>

      <div class="actions">
        <a href="{% url 'login' %}">Ya tengo cuenta</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
