{% extends "base.html" %}
{% block title %}Registrar Infracción{% endblock %}
{%block content %}

<section class="container">
  <div class="card">
    <h2>Registrar infracción</h2>
    <div class="panel-body">
      {% if mensaje %}
      <div class="alert {{ tipo_mensaje|default:'error' }}">
        {{ mensaje }}
      </div>
      {% endif %}

      <form
        id="infraccionForm"
        method="post"
        action="{% url 'inspectores_registrar_infraccion' %}?patente={{ patente }}"
        enctype="multipart/form-data">
        
        {% csrf_token %}

        <label for="patente">Patente:</label>

        <!-- visible -->
        <input value="{{ patente }}" readonly class="input" />

        <!-- real -->
        <input type="hidden" name="patente" value="{{ patente }}" />

        <label>Subcuadra</label>

        <select name="subcuadra_id" class="input" required>
          {% for s in subcuadras %}
            <option value="{{ s.id }}"
              {% if s.id == subcuadra_default %}selected{% endif %}>
              {{ s }}
            </option>
          {% endfor %}
        </select>

        <label for="foto">Foto de la infracción:</label>
        <input type="file" id="foto" name="foto" accept="image/*" required />

        <button type="submit" class="btn btn-danger">
          Grabar acta de infracción
        </button>

        <a href="{% url 'panel_inspectores' %}" class="btn link">
          🏠 Volver al inicio
        </a>
      </form>
    </div>
  </div>
</section>

{% if mensaje %} {% endif %} {% endblock %}
