{% extends "base.html" %}
{% block title %}Registrar Infracción{% endblock %}
{% block content %}
<section class="panel">
  <h2>Registrar infracción</h2>

  {% if mensaje %}
    <div class="alert success">
      {{ mensaje }}
    </div>
  {% endif %}

  <form id="infraccionForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="patente">Patente:</label>
    <input id="patente" name="patente" value="{{ patente }}" readonly />

    <label for="subcuadra_id">Subcuadra:</label>
    <select id="subcuadra_id" name="subcuadra_id" required>
      {% for s in subcuadras %}
        <option value="{{ s.id }}">{{ s.calle }} {{ s.altura }}</option>
      {% endfor %}
    </select>

    <label for="foto">Foto de la infracción:</label>
    <input type="file" id="foto" name="foto" accept="image/*" required />

    <button type="button" class="btn alert" onclick="confirmarActa()">
      Grabar acta de infracción
    </button>
    <a href="{% url 'panel_inspectores' %}" class="btn link">🏠 Volver al inicio</a>
  </form>
</section>

<script>
function confirmarActa() {
  alert("Acta Generada");
  document.getElementById("infraccionForm").submit();
}
</script>
{% endblock %}
