<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Contacto</title>
  </head>
  <body>
    <h1>Contacto</h1>
    <p>
      Podés comunicarte con nosotros por cualquiera de los siguientes medios:
    </p>

    <ul>
      <li>Email: <a href="info@ejemplo.com">info@ejemplo.com</a></li>
      <li>Teléfono: +54 9 2324 437900</li>
      <li>Dirección: 29 N° 575, Mercedes - Buenos Aires - Argentina</li>
    </ul>

    <p>
      <a href="/">Volver al inicio</a> | <a href="/info/">Informacion</a>
    </p>
  </body>
</html>
