{% extends "base.html" %}
{% load static %}

{% block title %}Inicio - Estacionamiento Medido{% endblock %}

{% block content %}

<h2 class="page-title">🚗 Sistema de Estacionamiento Medido</h2>

<div class="card-grid">

    <!-- Estacionar -->
    <a href="{% url 'estacionar' %}" class="card">
        <h3>🅿️ Estacionar vehículo</h3>
        <p>Iniciá un nuevo estacionamiento para auto o moto.</p>
    </a>

    <!-- Registrar infracción -->
    <a href="{% url 'inspectores_registrar_infraccion' %}" class="card warning">
        <h3>⚠️ Registrar infracción</h3>
        <p>Solo para inspectores municipales.</p>
    </a>

    <!-- Panel Admin -->
    <a href="/admin/" class="card admin">
        <h3>🔧 Panel administrativo</h3>
        <p>Gestión interna del sistema.</p>
    </a>

</div>

{% endblock %}

