{% extends "base.html" %}

{% block content %}
<section class="panel">
  <h2>Crear cuenta</h2>

  <form method="post">
    {% csrf_token %}

    <div>
      <label>Correo</label>
      {{ form.correo }}
    </div>

    <div>
      <label>Contraseña</label>
      {{ form.password1 }}
    </div>

    <div>
      <label>Repetir contraseña</label>
      {{ form.password2 }}
    </div>

    <button type="submit">Registrarme</button>
  </form>

  {% if form.errors %}
    <p style="color:red">{{ form.errors }}</p>
  {% endif %}
</section>
{% endblock %}